<?xml version='1.0' encoding='UTF-8'?>     
<hibernate-configuration>

	<session-factory>
		<property name="connection.username">hd0701</property>
		<property name="connection.url">jdbc:oracle:thin:@192.168.0.206:1521:tarena</property>
		<property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
		<property name="myeclipse.connection.profile">connora</property>
		<property name="connection.password">hd0701</property>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="show_sql">true</property>
		<mapping resource="Room.hbm.xml" />
		<mapping resource="Users.hbm.xml" />

	</session-factory>

</hibernate-configuration>
